* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#sound-button {
  /* border: 2px red solid; */
  position: absolute;
  left: 300px;
  cursor: pointer;
}

h3,
h4 {
  font-family: "Press Start 2P", cursive;
  color: green;
  text-align: center;
  margin: 1rem 0;
  /* font-size: 20px; */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  margin: 0 auto;
  border: 2px solid green;
  z-index: -2;
  background-size: contain;
}

.grid div {
  width: 20px;
  height: 20px;
}
.start-container {
  /* border: 2px green solid; */
  position: absolute;
  top: 250px;
  left: 60px;
  height: 100px;
  width: 120px;
  padding: 5px;
  text-align: center;
}
#start-button {
  height: 30px;
  width: fit-content;
  padding: 5px;
  background-color: red;
  border: 2px #ddf9c1 solid;
  font-family: "Press Start 2P", cursive;
  color: #ddf9c1;
  text-align: center;
}
.reset-container {
  /* border: 2px green solid; */
  position: absolute;
  top: 250px;
  right: 60px;
  height: 100px;
  width: 130px;
  padding: 5px;
  text-align: center;
}
#reset-button {
  height: 30px;
  width: fit-content;
  padding: 5px;
  background-color: blue;
  border: 2px #ddf9c1 solid;
  font-family: "Press Start 2P", cursive;
  color: #ddf9c1;
  text-align: center;
}
.blinky {
  background-image: url("images/blinky.png");
  z-index: 5;
}
.pinky {
  background-image: url("images/pinky.png");
  z-index: 5;
}
.inky {
  background-image: url("images/inky.png");
  z-index: 5;
}
.clyde {
  background-image: url("images/clyde.png");
  z-index: 5;
}

.scared-ghost {
  background-image: url("images/scared-ghost.png");
}
.pacman {
  background-image: url("images/pacman.png");
  border-radius: 10px;
}

.pacman-left {
  transform: rotate(180deg);
}

.pacman-up {
  transform: rotate(270deg);
}
.pacman-down {
  transform: rotate(90deg);
}
.wall {
  background-color: blue;
}

.pac-dot {
  font-size: 40px;
  color: white;
  margin: 0px;
  text-align: center;
  line-height: 0px;
}

.power-pellet {
  background-image: url("images/cherry.png");
  z-index: -5;
}
