* {
  margin: 0;
  padding: 0;
}
h3,
h4 {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  margin: 1rem auto;

  border: 2px solid green;
}

.grid div {
  width: 20px;
  height: 20px;
}
.pac-dot {
  background-color: gold;
  border: 5px solid white;
  box-sizing: border-box;
  border-radius: 50%;
}
.wall {
  background-color: black;
}
.power-pellet {
  background-color: green;
  border-radius: 50%;
}

.blinky {
  background-color: red;
  border: 0px;
}
.pinky {
  background-color: pink;
  border: 0px;
}
.inky {
  background-color: cyan;
  border: 0px;
}
.clyde {
  background-color: orange;
  border: 0px;
}
.scared-ghost {
  background-color: blue;
  border: 0px;
}

.pac-man {
  background-color: yellow;
  border-radius: 10px;
}
